<template>
    <div>
        <page-title :pageTitle="pageTitle"></page-title>
        <b-row>
            <b-col cols="6">
                <!--Main info-->
                <b-card header="" header-tag="h6" class="mb-4">
                    <b-row>
                        <b-col cols="12" class="mb-4">
                            <b-input-group>
                                <b-input-group-text slot="prepend" v-if="loading">
                                    <em class="ion ion-md-sync"></em>
                                </b-input-group-text>
                                <b-input-group-text slot="prepend" v-if="!loading">
                                    <em class="ion ion-ios-search"></em>
                                </b-input-group-text>
                                <input type="text" class="form-control"
                                       placeholder="Search for client"
                                       autocomplete="off"
                                       v-model="value"
                                       @keydown.down="down"
                                       @keydown.up="up"
                                       @keydown.enter="hit"
                                       @keydown.esc="reset"
                                       @blur="reset"
                                       @input="updateQuery"/>
                                <b-input-group-text slot="append" v-if="isDirty || value" @click="resetInput">
                                    <em class="ion ion-md-close"></em>
                                </b-input-group-text>
                            </b-input-group>
                            <div class="dropdown-menu" :class="{ 'd-block': hasItems }"
                                 :style="{left: isRTL ? 'auto' : 0, right: isRTL ? 0 : 'auto'}">
                                <a class="dropdown-item" href="javascript:void(0)" v-for="(item, $item) in items"
                                   :key="item.first_name" :class="activeClass($item)" @mousedown="hit"
                                   @mousemove="setActive($item)">
                                    <span class="name" v-text="item.first_name"></span>
                                    <span class="text-muted">{{ item.last_name }}</span>
                                </a>
                            </div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12" class="mb-4">
                            <div class="text-muted small">City</div>
                            <b-input type="text" disabled v-model='Client.client.city' placeholder="No City register"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12" class="mb-4">
                            <div class="text-muted small">Mobil</div>
                            <b-input type="text" disabled v-model='Client.client.mobile'
                                     placeholder="No Mobile register"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12" class="mb-4">
                            <div class="text-muted small">Email</div>
                            <b-input type="text" disabled v-model='Client.client.email'
                                     placeholder="No Email register"/>
                        </b-col>
                    </b-row>
                </b-card>
                <!--Sales by year-->
                <b-card no-body class="mb-3">
                    <b-card-header class="row no-gutters align-items-center">
                        <div class="pl-2 font-weight-bold">SALES BY YEAR</div>
                    </b-card-header>
                    <b-card-header v-for="(sale, index) in getSales" :key="index"
                                   class="row no-gutters align-items-center">
                        <b-col cols="6" class="pl-4">{{ sale.year }}</b-col>
                        <b-col cols="6" class="text-muted">
                            <div class="row no-gutters align-items-center">
                                <div class="col-9 text-right">{{ sale.total | formatCurrency }}</div>
                            </div>
                        </b-col>
                    </b-card-header>
                </b-card>
            </b-col>
            <b-col cols="6">
                <b-card no-body class="mb-3">
                    <b-card-header class="row no-gutters align-items-center">
                        <div class="pl-2 font-weight-bold">INVOICES</div>
                    </b-card-header>
                    <b-card-header class="row no-gutters">
                        <b-col md="6" lg="6" xl="6" class="pr-2">
                            <b-form-select
                                    v-model="years.selected"
                                    :options="years.options"
                                    value-field="item"
                                    text-field="name"
                                    placeholder="Year"
                                    @change="getInvoicesByClient"
                                    :disabled="disabled"
                            >
                            </b-form-select>
                        </b-col>
                        <b-col md="6" lg="6" xl="6" class="pl-2">
                            <b-form-select
                                    v-model="months.selected"
                                    :options="months.options"
                                    value-field="item"
                                    text-field="name"
                                    placeholder="Month"
                                    @change="getInvoicesByClient"
                                    :disabled="disabled"
                            >
                            </b-form-select>
                        </b-col>
                    </b-card-header>
                    <b-card-header v-for="(invoice, index) in getInvoices" :key="index"
                                   class="row no-gutters align-items-center">
                        <b-col cols="3">{{ invoice.internal_nr }}</b-col>
                        <b-col cols="3" class="text-right">{{ invoice.date | formatDate }}</b-col>
                        <b-col cols="6" class="text-muted">
                            <div class="row no-gutters align-items-center">
                                <div class="col-9 text-right">{{ invoice.amount | formatCurrency }}</div>
                            </div>
                        </b-col>
                    </b-card-header>
                    <b-card-header v-if="getInvoices.length === 0 && value !== '' && !disabled">No Invoices found</b-card-header>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
    .form-control:disabled {
        background-color: #fdfdfd !important;
    }
</style>

<script>
import Vue from 'vue'
import Axios from 'axios'
import VueTypeahead from 'vue-typeahead'
import { mapGetters, mapState } from 'vuex'

Vue.prototype.$http = Axios

function isRTL () {
  return document.documentElement.getAttribute('dir') === 'rtl' ||
    document.body.getAttribute('dir') === 'rtl'
}

const year = new Date().getFullYear()

const years = {
  selected: year,
  options: [
    {
      item: '',
      name: 'ALL'
    },
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023',
    '2024'
  ]
}

const month = new Date().getMonth() + 1

const months = {
  selected: month,
  options: [
    {
      item: '',
      name: 'ALL'
    },
    {
      item: 1,
      name: 'JANUARY'
    },
    {
      item: 2,
      name: 'FEBRUARY'
    },
    {
      item: 3,
      name: 'MARCH'
    },
    {
      item: 4,
      name: 'APRIL'
    },
    {
      item: 5,
      name: 'MAY'
    },
    {
      item: 6,
      name: 'JUNE'
    },
    {
      item: 7,
      name: 'JULY'
    },
    {
      item: 8,
      name: 'AUGUST'
    },
    {
      item: 9,
      name: 'SEPTEMBER'
    },
    {
      item: 10,
      name: 'OCTOBER'
    },
    {
      item: 11,
      name: 'NOVEMBER'
    },
    {
      item: 12,
      name: 'DECEMBER'
    }
  ]
}

export default {
  extends: VueTypeahead,
  name: 'reports-by-client',
  metaInfo: {
    title: 'Reports - by client'
  },
  components: {},
  data () {
    return {
      pageTitle: {
        parents: ['Reports'],
        title: 'By Client'
      },
      spinner: true,
      modifyMode: true,
      disabled: true,
      value: '',
      src: `${Axios.defaults.baseURL}api/v1/search/clients`,
      queryParamName: 'search',
      limit: 10,
      minChars: 3,
      dateConfig: {
        altInput: true,
        animate: !isRTL()
      },
      years: years,
      months: months
    }
  },
  computed: {
    ...mapState(['Client']),
    ...mapGetters([
      'getInvoices',
      'getSales'
    ])
  },
  created: function () {
    this.resetInput()
    if (this.$route.params.id > 0) {
      return this.$store.dispatch('getClient', this.$route.params.id)
    } else {
      return ''
    }
  },
  methods: {
    updateQuery () {
      this.spinner = true
      this.modifyMode = true
      this.query = this.value
      this.update()
    },
    onHit (item) {
      this.spinner = true
      this.modifyMode = true
      this.value = `${item.first_name} ${item.last_name}`
      this.Client.client = item
      this.disabled = false
      this.getInvoicesByClient()
      this.getSalesByYear()
      this.reset()
    },
    resetInput () {
      this.spinner = true
      this.disabled = true
      this.modifyMode = true
      this.value = ''
      this.Client.client = []
      this.$store.dispatch('cleanInvoicesByClient')
      this.$store.dispatch('cleanSalesByYear')
      this.reset()
    },
    prepareResponseData (data) {
      return data.data
    },
    getInvoicesByClient () {
      let params = {
        'id': this.Client.client.id,
        'year': years.selected,
        'month': months.selected
      }
      this.$store.dispatch('setInvoicesByClient', params)
    },
    getSalesByYear () {
      this.$store.dispatch('setSalesByYear', this.Client.client.id)
    }
  },
  directives: {
    focus: {
      // Definición de directiva
      inserted: function (el) {
        el.focus()
      }
    }
  }
}
</script>
