<template>
    <div>
        <page-title :pageTitle="pageTitle"></page-title>
        <b-row align-h="between" align-v="end">
            <b-col cols="12" md="3" v-if="getClientsLength" class="mb-2">
                Per page:
                <b-select size="sm" :options="perPageOptions" v-model="pageSetup.per_page" class="d-inline-block w-auto"
                          @change="paginationChange(pageSetup)"/>
            </b-col>
            <b-col sm="5" md="4" lg="3" xl="2" class="mb-2">
                <b-input-group size="sm">
                    <template v-slot:prepend>
                        <b-input-group-text>
                            <em class="ion ion-ios-search"></em>
                        </b-input-group-text>
                    </template>
                    <b-input placeholder="Search..."
                             v-model="searchSetup.searchData"
                             @change="getFilteredClients"
                    />
                    <b-input-group-append v-if="searchSetup.searchData">
                        <b-button variant="outline-secondary" @click="clearData"><em class="ion ion-md-close"></em>
                        </b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </b-row>
        <!-- Table -->
        <div class="table-responsive">
            <b-table
                    :items="getClients"
                    :sort-icon-left="isSortIconLeft"
                    :fields="tableFields"
                    :sticky-header="isStickyHeader"
                    :stacked="isStacked"
                    :striped="isStriped"
                    :hover="isHoverable"
                    :bordered="isBordered"
                    :borderless="isBorderless"
                    :outlined="isOutlined"
                    :small="isSmall"
                    :selectable="isSelectable"
                    :dark="isDark"
                    :foot-clone="isFootClone"
                    :busy="!getLoadedClients"
                    show-empty
            >
                <template v-slot:cell(name)="data">
                    <router-link :to="{ name: 'clients-view', params: { id: data.item.id } }">{{ data.item.first_name }}
                        {{ data.item.last_name }}
                    </router-link>
                </template>
                <template v-slot:table-busy>
                    <div class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong>Loading...</strong>
                    </div>
                </template>
                <template v-slot:empty>
                    <div>No clients available</div>
                </template>
            </b-table>
        </div>
        <pagination
                :dataLength="getClientsLength"
                :page="pageSetup.page"
                :per_page="pageSetup.per_page"
                @paginationChange="paginationChange"
        ></pagination>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PaginationComponent from '../page-components/PaginationComponent'

export default {
  name: 'client-list',
  metaInfo: {
    title: 'Client-list'
  },
  components: {
    pagination: PaginationComponent
  },
  data () {
    return {
      pageTitle: {
        parents: ['Clients'],
        title: 'List'
      },
      tableFields: [
        {
          key: 'internal_id',
          label: 'Praxis Id'
        },
        'cellagon_id',
        'name',
        {
          key: 'email',
          class: 'd-none d-md-table-cell'
        },
        'telephone',
        'mobile',
        {
          key: 'city',
          class: 'd-none d-lg-table-cell'
        }
      ],
      // Pagination
      pageSetup: {
        per_page: 10,
        page: 1
      },
      popoverShow: [],
      disable: [],

      // Table options
      headerStyleOptions: [
        {
          text: 'Default',
          value: null
        },
        {
          text: 'Light',
          value: 'light'
        },
        {
          text: 'Dark',
          value: 'dark'
        }
      ],
      isStickyHeader: false,
      isSortable: false,
      isSortIconLeft: false,
      isStacked: false,
      isStriped: true,
      isHoverable: false,
      isBordered: true,
      isBorderless: false,
      isOutlined: false,
      isSmall: true,
      isSelectable: false,
      isDark: false,
      isFootClone: false,
      headerStyle: null,

      searchSetup: {
        minCharLength: 3,
        searchData: ''
      },
      searchedData: false
    }
  },
  computed: {
    ...mapGetters([
      'getClients',
      'getClientsLength',
      'getLoadedClients',
      'getDataError'
    ])
  },
  created () {
    this.grabClients()
  },
  methods: {
    paginationChange (value) {
      this.pageSetup.per_page = value.per_page
      this.pageSetup.page = value.page
      this.grabClients()
    },
    getFilteredClients () {
      if (this.searchSetup.searchData.length >= this.searchSetup.minCharLength || (this.searchedData && this.searchSetup.searchData.length === 0)) {
        this.searchedData = !this.searchedData
        this.grabClients()
      }
    },
    grabClients () {
      this.$store.dispatch('setClientsList', {
        searchData: this.searchSetup.searchData,
        pageSetup: this.pageSetup
      }).then(() => {
        if (this.getDataError !== null) {
          this.showNotification('error', this.getDataError)
        }
      })
    },
    clearData () {
      this.searchSetup.searchData = ''
      this.searchedData = false
      this.grabClients()
    }
  }
}
</script>

<style scoped>
    .table-responsive >>> th:nth-child(1) {
        width: 10%;
    }

    .table-responsive >>> th:nth-child(2) {
        width: 10%;
    }

    .table-responsive >>> th:nth-child(3) {
        width: 20%;
    }

    .table-responsive >>> th:nth-child(4) {
        width: 23%;
    }

    .table-responsive >>> th:nth-child(5) {
        width: 15%;
    }

    .table-responsive >>> th:nth-child(6) {
        width: 15%;
    }

    .table-responsive >>> th:nth-child(7) {
        width: 10%;
    }
</style>
