<template>
    <b-card no-body>
        <b-card-body>
            <b-row>
                <b-col md="6" lg="6" xl="6" class="mb-2 mt-4">
                    <validation-provider name="Client Id" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Client Id</div>
                            <b-input
                                    name="ClientId"
                                    type="text"
                                    v-focus="!modifyMode"
                                    v-model='clientInfo.client.internal_id'
                                    placeholder="Praxis id"
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="6" lg="6" xl="6" class="mb-2 mt-4">
                    <validation-provider name="Cellagon Id" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Cellagon Id</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.cellagon_id'
                                    placeholder=""
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="6" lg="6" xl="6" class="mb-2">
                    <validation-provider name="First Name" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">First Name</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.first_name'
                                    placeholder=""
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="6" lg="6" xl="6" class="mb-2">
                    <validation-provider name="Last Name" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Last Name</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.last_name'
                                    placeholder=""
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="6" lg="6" xl="6" class="mb-2">
                    <validation-provider name="Phone" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Phone</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.telephone'
                                    placeholder="+49 ..."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="6" lg="6" xl="6" class="mb-2">
                    <validation-provider name="Mobile" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Mobile</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.mobile'
                                    placeholder="+49 ..."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-2">
                    <validation-provider name="E-Mail" rules="required|email" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Email</div>
                            <b-input
                                    type="email"
                                    v-model='clientInfo.client.email'
                                    placeholder="some@email.com"
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-2">
                    <validation-provider name="Address" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Address</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.address'
                                    placeholder="Street, House Nr."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="4" lg="4" xl="4" class="mb-2">
                    <validation-provider name="ZIP Code" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">ZIP Code</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.postal_code'
                                    placeholder="22083 ..."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="4" lg="4" xl="4" class="mb-2">
                    <validation-provider name="City" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">City</div>
                            <b-input
                                    type="text"
                                    v-model='clientInfo.client.city'
                                    placeholder="City"
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="4" lg="4" xl="4" class="mb-2">
                    <validation-provider name="Country" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Country</div>
                            <b-select
                                    value="Select state"
                                    v-model='clientInfo.client.country'
                                    :options="countries"
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
        </b-card-body>
    </b-card>
</template>

<script>
import Vue from 'vue'
import { ValidationProvider, extend } from 'vee-validate'
import { email, required } from 'vee-validate/dist/rules'
import { countries } from './countries'

extend('email', {
  ...email,
  message: 'Please enter a valid email'
})

extend('required', {
  ...required,
  message: '{_field_} cannot be empty.'
})

export default {
  props: {
    modifyMode: {
      type: Boolean,
      default: false
    },
    clientInfo: {
      type: Object,
      required
    }
  },
  data () {
    return {
      countries: countries
    }
  },
  components: {
    ValidationProvider
  },
  directives: {
    focus: {
      // Definición de directiva
      inserted: el => {
        el.focus()
      },
      update: (el, binding) => {
        let value = binding.value
        let oldValue = binding.oldValue
        if (value !== oldValue) {
          Vue.nextTick(() => {
            el.focus()
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
