<template>
    <div>
        <page-title :pageTitle="pageTitle"></page-title>
        <ValidationObserver v-slot="{ handleSubmit }">
            <!--Typehead and Button-->
            <b-row class="mb-2" align-h="between" align-v="end">
                <!--Typehead-->
                <b-col md="5">
                    <b-card class="">
                        <div class="position-relative">
                            <b-input-group>
                                <b-input-group-text slot="prepend" v-if="loading">
                                    <em class="ion ion-md-sync"></em>
                                </b-input-group-text>
                                <b-input-group-text slot="prepend" v-if="!loading">
                                    <em class="ion ion-ios-search"></em>
                                </b-input-group-text>
                                <input type="text" class="form-control"
                                       placeholder="Search for client"
                                       autocomplete="off"
                                       v-model="searchClient"
                                       @keydown.down="down"
                                       @keydown.up="up"
                                       @keydown.enter="hit"
                                       @keydown.esc="reset"
                                       @blur="reset"
                                       @input="updateQuery" />
                                <b-input-group-append v-if="isDirty || searchClient">
                                    <b-button variant="outline-secondary" @click="resetInput"><em class="ion ion-md-close" ></em></b-button>
                                </b-input-group-append>
                            </b-input-group>
                            <div class="dropdown-menu" :class="{ 'd-block': hasItems }" :style="{left: isRTL ? 'auto' : 0, right: isRTL ? 0 : 'auto'}">
                                <a class="dropdown-item" href="javascript:void(0)" v-for="(item, $item) in items" :key="item.first_name" :class="activeClass($item)" @mousedown="hit" @mousemove="setActive($item)">
                                    <span class="name" v-text="item.first_name"></span>
                                    <span class="text-muted">{{ item.last_name }}</span>
                                </a>
                            </div>
                        </div>
                    </b-card>
                </b-col>

                <!--Button-->
                <b-col col="12" md="5" class="text-right mt-2">
                    <div v-if="spinner" >
                        <b-btn @click="handleSubmit(toogleView)" type="" :variant="modifyMode ? 'primary' : 'success'" :disabled="searchClient === pageTitle.title ? false : true">
                            {{ modifyMode ? 'Modify' : 'Save Changes' }}</b-btn>
                        <b-btn v-if="!modifyMode" @click="handleSubmit(toogleView(true))" type="" variant="danger">Cancel</b-btn>
                    </div>
                    <div v-else >
                        <b-btn type="" variant="success" disabled>
                            <b-spinner/>
                            Saving changes
                        </b-btn>
                    </div>
                </b-col>
            </b-row>

            <!--Main info-->
            <b-card header="Main info" header-tag="h6" class="mb-4" v-if="Client.client.created_at">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 mb-4">
                        <div class="text-muted small">Created by</div>
                        <b-input type="text" disabled v-model='Client.client.user.name' placeholder="User" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 mb-4">
                        <div class="text-muted small">Created at</div>
                        <b-input type="text" disabled :value='Client.client.created_at | formatDate' placeholder="Created at" />
                    </div>
                </div>
            </b-card>
            <clients-form :modify-mode="modifyMode" :client-info="Client"></clients-form>
        </ValidationObserver>
    </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<style>
    .form-control:disabled{
        background-color: #fdfdfd !important;
    }
</style>

<script>
import Vue from 'vue'
import Axios from 'axios'
import VueTypeahead from 'vue-typeahead'
import { mapState } from 'vuex'
import ClientsForm from './ClientsForm'

Vue.prototype.$http = Axios

function isRTL () {
  return document.documentElement.getAttribute('dir') === 'rtl' ||
    document.body.getAttribute('dir') === 'rtl'
}

export default {
  extends: VueTypeahead,
  name: 'client-view',
  metaInfo: {
    title: 'Clients-view'
  },
  components: {
    ClientsForm
  },
  data () {
    return {
      pageTitle: {
        parents: ['Clients'],
        title: 'View'
      },
      spinner: true,
      modifyMode: true,
      disabled: false,
      searchClient: '',
      src: `${Axios.defaults.baseURL}api/v1/search/clients`,
      queryParamName: 'search',
      limit: 5,
      minChars: 3,
      dateConfig: {
        altInput: true,
        animate: !isRTL()
      }
    }
  },
  computed: {
    ...mapState(['Client', 'originalClient'])
  },
  created: function () {
    this.resetInput()
    if (this.$route.params.id > 0) {
      this.pageTitle.parents.push('View')
      this.$store.dispatch('getClient', this.$route.params.id).then(() => {
        this.searchClient = `${this.Client.client.first_name} ${this.Client.client.last_name}`
        this.pageTitle.title = this.searchClient
      })
    } else {
      return ''
    }
  },
  methods: {
    toogleView (cancel = false) {
      if (this.modifyMode) {
        this.modifyMode = false
        // Only way it works removing last element and pushing to the last element
        this.pageTitle.parents.pop()
        this.pageTitle.parents.push('Modify')
      } else {
        this.pageTitle.parents.pop()
        this.pageTitle.parents.push('View')
        this.modifyMode = true
        this.spinner = false
        if (cancel === false) {
          this.$store.dispatch('updateClient', this.Client.client).then(() => {
            this.spinner = true
            this.searchClient = `${this.Client.client.first_name} ${this.Client.client.last_name}`
            this.pageTitle.title = this.searchClient
            this.Client.originalClient = JSON.parse(JSON.stringify(this.Client.client))
            this.showNotification('success', 'The client was successfully modified')
          }).catch(err => {
            this.showNotification('error', `The system could not modify the client ${err.response.data.message}`)
          })
        } else {
          this.$store.dispatch('setOriginalClientData')
          this.spinner = true
        }
      }
    },
    updateQuery () {
      this.spinner = true
      this.modifyMode = true
      this.query = this.searchClient
      this.update()
    },
    onHit (item) {
      this.spinner = true
      this.modifyMode = true
      this.searchClient = `${item.first_name} ${item.last_name}`
      this.Client.client = item
      this.Client.originalClient = JSON.parse(JSON.stringify(item))
      this.reset()
      this.pageTitle.parents.push('View')
      this.pageTitle.title = this.searchClient
    },
    prepareResponseData (data) {
      return data.data
    },
    resetInput () {
      this.spinner = true
      this.modifyMode = true
      this.searchClient = ''
      this.Client.client = []
      this.reset()
      this.$store.dispatch('cleanClient')
      if (this.pageTitle.parents.length > 1) {
        this.pageTitle.title = this.pageTitle.parents.pop()
      }
    }
  }
}
</script>
