<template>
    <div>
        <page-title :pageTitle="pageTitle"></page-title>
        <b-card header="File Upload" header-tag="h6" class="mb-4">
            <vue-dropzone id="dropzone"
                          :options="dropzoneOptions"
                          v-on:vdropzone-error="uploadError"
                          v-on:vdropzone-success="uploadSuccess"
                          ref="myVueDropzone" />
        </b-card>
    </div>
</template>

<style src="@/vendor/libs/vue-dropzone/vue-dropzone.scss" lang="scss"></style>

<script>
import vue2Dropzone from 'vue2-dropzone'
import { mapGetters } from 'vuex'

export default {
  name: 'clients-import',
  metaInfo: {
    title: 'Clients - import'
  },
  computed: {
    ...mapGetters(['getToken'])
  },
  mounted () {
    this.$refs.myVueDropzone.setOption('headers', { Authorization: `Bearer ${this.getToken}` })
  },
  data () {
    return {
      pageTitle: {
        parents: ['Clients'],
        title: 'Import from CSV'
      },
      dropzoneOptions: {
        url: `${process.env.VUE_APP_URL}/api/v1/import/clients`,
        parallelUploads: 1,
        maxFilesize: 50000,
        filesizeBase: 1000,
        addRemoveLinks: true,
        acceptedFiles: '.csv',
        dictDefaultMessage: `Drop files here or click to upload`,
        previewTemplate: `
<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <div class="dz-thumbnail">
      <img data-dz-thumbnail>
      <span class="dz-nopreview">No preview</span>
      <div class="dz-success-mark"></div>
      <div class="dz-error-mark"></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
      <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div></div>
    </div>
    <div class="dz-filename" data-dz-name></div>
    <div class="dz-size" data-dz-size></div>
  </div>
</div>`
      }
    }
  },
  components: {
    vueDropzone: vue2Dropzone
  },
  methods: {
    uploadError (file, response) {
      const elements = document.querySelectorAll('.dz-error-message span')
      const lastElement = elements[elements.length - 1]
      lastElement.textContent = null
      this.showNotification('error', response.message)
    },
    uploadSuccess (file, response) {
      this.showNotification('success', response.message)
    }
  }
}
</script>
