<template>
    <b-card no-body :header="headerTitle" :header-tag="headerTag" class="mb-4">
        <b-card-body>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Invoice Nr." rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Invoice Nr</div>
                            <b-input
                                    type="number"
                                    v-model='invoiceInfo.invoice.invoice_nr'
                                    v-focus="!modifyMode" placeholder="12313 ..."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                                    min="0"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Invoice Date" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Invoice Date</div>
                            <datepicker
                                    input-class="form-control"
                                    v-model="invoiceInfo.invoice.date"
                                    :placeholder="!isIEMode ? 'Select Date' : null"
                                    :format="datePickerDateFormat"
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="6" lg="6" xl="6" class="mb-4">
                    <validation-provider name="Product" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Product</div>
                            <b-select value="Select Product"
                                      v-model='invoiceInfo.invoice.product_id'
                                      :options="getProducts.options"
                                      value-field="id"
                                      text-field="description"
                                      placeholder="Select Product"
                                      :disabled="modifyMode"
                                      :state="errors[0] ? false : null"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col md="6" lg="6" xl="6" class="mb-4">
                    <validation-provider name="Product Quantity" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Product Quantity</div>
                            <b-input
                                    type="number"
                                    v-model='invoiceInfo.invoice.quantity'
                                    placeholder="1, 2, 3, ..."
                                    :disabled="modifyMode"
                                    :state="errors[0] ? false : null"
                                    min="0"
                            />
                            <span class="invalid-tooltip">{{ errors[0] }}</span>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Invoice amount" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Invoice amount</div>
                            <b-input-group prepend="€">
                                <b-input
                                        type="number"
                                        v-model='invoiceInfo.invoice.amount'
                                        placeholder="Invoice amount"
                                        :disabled="modifyMode"
                                        :state="errors[0] ? false : null"
                                        min="0"
                                />
                                <span class="invalid-tooltip">{{ errors[0] }}</span>
                            </b-input-group>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Taxes amount" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Taxes Amount</div>
                            <b-input-group prepend="€">
                                <b-input
                                        type="number"
                                        v-model='invoiceInfo.invoice.tax'
                                        placeholder=""
                                        :disabled="modifyMode"
                                        :state="errors[0] ? false : null"
                                        min="0"
                                />
                                <span class="invalid-tooltip">{{ errors[0] }}</span>
                            </b-input-group>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Discount amount" rules="" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Discount amount</div>
                            <b-input-group prepend="€">
                                <b-input
                                        type="number"
                                        v-model='invoiceInfo.invoice.discount'
                                        placeholder=""
                                        :disabled="modifyMode"
                                        :state="errors[0] ? false : null"
                                        min="0"
                                />
                                <span class="invalid-tooltip">{{ errors[0] }}</span>
                            </b-input-group>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" class="mb-4">
                    <validation-provider name="Total amount" rules="required" v-slot="{ errors }">
                        <b-form-group class="position-relative">
                            <div class="text-muted small">Total amount</div>
                            <b-input-group prepend="€">
                                <b-input
                                        type="number"
                                        v-model='totalAmount'
                                        placeholder=""
                                        disabled
                                        :state="errors[0] ? false : null"
                                />
                                <span class="invalid-tooltip">{{ errors[0] }}</span>
                            </b-input-group>
                        </b-form-group>
                    </validation-provider>
                </b-col>
            </b-row>
        </b-card-body>
    </b-card>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import { required } from 'vee-validate/dist/rules'
import { ValidationProvider, extend } from 'vee-validate'
import Datepicker from 'vuejs-datepicker'

extend('required', {
  ...required,
  message: '{_field_} cannot be empty.'
})

export default {
  name: 'InvoicesForm',
  props: {
    modifyMode: {
      type: Boolean,
      default: false
    },
    invoiceInfo: {
      type: Object,
      required
    },
    headerTitle: {
      type: String,
      default: ''
    },
    headerTag: {
      type: String,
      default: 'h6'
    }
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(['getProducts']),
    totalAmount: function () {
      let amount = this.setFloat(this.invoiceInfo.invoice.amount)
      let discount = this.setFloat(this.invoiceInfo.invoice.discount)
      let tax = this.setFloat(this.invoiceInfo.invoice.tax)

      let total = (amount + tax) - discount

      return total.toFixed(2)
    }
  },
  components: {
    ValidationProvider,
    Datepicker
  },
  methods: {
    setFloat: function (value) {
      if (isNaN(value) || value === '' || value === null) {
        return parseFloat(0)
      }
      return parseFloat(value)
    }
  },
  directives: {
    focus: {
      // Definición de directivas
      inserted: el => {
        el.focus()
      },
      update: (el, binding) => {
        let value = binding.value
        let oldValue = binding.oldValue
        if (value !== oldValue) {
          Vue.nextTick(() => {
            el.focus()
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
