<template>
    <page-title :pageTitle="pageTitle"></page-title>
</template>

<script>
export default {
  name: 'home',
  metaInfo: {
    title: 'Home'
  },
  data () {
    return {
      pageTitle: {
        parents: [],
        title: 'Home'
      }
    }
  }
}
</script>
