<template>
  <sidenav :orientation="orientation" :class="curClasses" :accordion="false">

    <!-- Brand demo (see src/demo.css) -->
    <div class="app-brand demo" v-if="orientation !== 'horizontal'">
      <span class="app-brand-logo demo bg-white">
        <img :src="`${publicUrl}img/cellagon-logo.png`" class="d-block ui-w-20 rounded-circle" alt="Cellagon Logo">
      </span>
      <router-link :to="{ name: 'home' }" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Cellagon</router-link>
      <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto" @click="toggleSidenav()">
        <em class="ion ion-md-menu align-middle"></em>
      </a>
    </div>
    <div class="sidenav-divider mt-0" v-if="orientation !== 'horizontal'"></div>

    <!-- Links -->
    <div class="sidenav-inner" :class="{ 'py-1': orientation !== 'horizontal' }">

      <sidenav-router-link icon="ion ion-md-home" :to="{ name: 'home' }" exact>Home</sidenav-router-link>

      <!-- Reports -->
      <sidenav-menu icon="ion ion-ios-trending-up" :active="isMenuActive('/reports')" :open="isMenuOpen('/reports')">
        <template slot="link-text">Reports</template>
        <sidenav-router-link :to="{name: 'byClient'}" exact>By Client</sidenav-router-link>
        <sidenav-router-link :to="{name: 'nextToCall'}" exact>Next to Call</sidenav-router-link>
        <sidenav-router-link :to="{name: 'bestClients'}" exact>Best clients</sidenav-router-link>
        <sidenav-router-link :to="{name: 'worstClients'}" exact>Worst clients</sidenav-router-link>
        <sidenav-router-link :to="{name: 'toBeRemoved'}" exact>To be removed</sidenav-router-link>
      </sidenav-menu>

      <sidenav-divider class="mb-1"/>
      <!-- Clients -->
      <sidenav-menu icon="ion ion-ios-people" :active="isMenuActive('/clients')" :open="true">
        <template slot="link-text">Clients</template>
        <sidenav-router-link icon="ion ion-ios-list" :to="{name: 'clients-list'}" exact>List</sidenav-router-link>
        <sidenav-router-link icon="ion ion-md-person-add" :to="{name: 'clients-create'}" exact>Create</sidenav-router-link>
        <sidenav-router-link icon="ion ion-ios-cloud-upload" :to="{ name: 'clients-import' }" exact>Import</sidenav-router-link>
        <sidenav-router-link icon="ion ion-ios-desktop" :to="{ name: 'clients-view' }">View/Modify</sidenav-router-link>
      </sidenav-menu>

      <sidenav-divider class="mb-1"/>
      <!-- Invoices -->
      <sidenav-menu icon="ion ion-ios-paper" :active="isMenuActive('/invoices')" :open="true">
        <template slot="link-text">Invoices</template>
        <sidenav-router-link icon="ion ion-ios-list" :to="{ name: 'invoices-list' }" exact>List</sidenav-router-link>
        <sidenav-router-link icon="ion ion-ios-document" :to="{ name: 'invoices-create' }" exact>Create</sidenav-router-link>
        <sidenav-router-link icon="ion ion-ios-cloud-upload" :to="{ name: 'invoices-import' }" exact>Import</sidenav-router-link>
        <sidenav-router-link icon="ion ion-ios-desktop" :to="{ name: 'invoices-view' }">View/Modify</sidenav-router-link>
      </sidenav-menu>
      <sidenav-divider class="mb-1"/>
    </div>
  </sidenav>
</template>

<script>
import { Sidenav, SidenavLink, SidenavRouterLink, SidenavMenu, SidenavHeader, SidenavBlock, SidenavDivider } from '@/vendor/libs/sidenav'

export default {
  name: 'app-layout-sidenav',
  components: {
    /* eslint-disable vue/no-unused-components */
    Sidenav,
    SidenavLink,
    SidenavRouterLink,
    SidenavMenu,
    SidenavHeader,
    SidenavBlock,
    SidenavDivider
    /* eslint-enable vue/no-unused-components */
  },

  props: {
    orientation: {
      type: String,
      default: 'vertical'
    }
  },
  computed: {
    curClasses () {
      let bg = this.layoutSidenavBg

      if (this.orientation === 'horizontal' && (bg.indexOf(' sidenav-dark') !== -1 || bg.indexOf(' sidenav-light') !== -1)) {
        bg = bg
          .replace(' sidenav-dark', '')
          .replace(' sidenav-light', '')
          .replace('-darker', '')
          .replace('-dark', '')
      }

      return `bg-${bg} ` + (
        this.orientation !== 'horizontal'
          ? 'layout-sidenav'
          : 'layout-sidenav-horizontal container-p-x flex-grow-0'
      )
    }
  },
  methods: {
    isMenuActive (url) {
      return this.$route.path.indexOf(url) === 0
    },
    isMenuOpen (url) {
      return this.$route.path.indexOf(url) === 0 && this.orientation !== 'horizontal'
    },
    toggleSidenav () {
      this.layoutHelpers.toggleCollapsed()
    }
  }
}
</script>
